# _-_-_-_-_-_-_-_-_-_-_DISCORD-_-_-_-_-_-_-_-_-_-_
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id
# Remove the line below for global commands (may take up to 1 hour to propagate)
GUILD_ID=your_development_guild_id


# _-_-_-_-_-_-_-_-_-_-_DATABASE-_-_-_-_-_-_-_-_-_-_
DATABASE_URL="file:./dev.db"


# _-_-_-_-_-_-_-_-_-_-_TICKET SYSTEM-_-_-_-_-_-_-_-_-_-_
MAX_TICKETS_PER_USER=3
TICKET_COOLDOWN_MS=300000       # 5 minutes
INACTIVITY_HOURS=24             
WARN_BEFORE_HOURS=12            
ESCALATION_HOURS=72            


# _-_-_-_-_-_-_-_-_-_-_LOGGING-_-_-_-_-_-_-_-_-_-_
MESSAGE_CACHE_TTL_DAYS=7
LOG_BATCH_INTERVAL_MS=2000
LOG_RETENTION_DAYS=90
# Optional: set these webhooks so logs persist even if a mod/admin deletes the log channel
LOG_WEBHOOK_URL=
MOD_LOG_WEBHOOK_URL=


# _-_-_-_-_-_-_-_-_-_-APPLICATION_-_-_-_-_-_-_-_-_-
NODE_ENV=development            
LOG_LEVEL=info                  