# _-_-_-_-_-_ Discord -_-_-_-_-_-_-
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id
GUILD_ID=your_development_guild_id # If u want instant command available then put your GuildId here.

# _-_-_-_-_- Database -_-_-_-_-_
DATABASE_URL="file:./dev.db"

# _-_-_-_-_- Ticket System -_-_-_-_-_-_
MAX_TICKETS_PER_USER=3
TICKET_COOLDOWN_MS=300000
INACTIVITY_HOURS=24
WARN_BEFORE_HOURS=12
ESCALATION_HOURS=72

# _-_-_-_-Logging -_-_-_-_-_-_-_-
MESSAGE_CACHE_TTL_DAYS=7
LOG_BATCH_INTERVAL_MS=2000
LOG_RETENTION_DAYS=90
LOG_WEBHOOK_URL= # If you didn't want Mod/Admin delete the log use this.
MOD_LOG_WEBHOOK_URL= # If you didn't want Mod/Admin delete the log use this.

# _-_-_-_-_ App -_-_-_-_-_-_-
NODE_ENV=development
LOG_LEVEL=info
